@model MvcTemplate.Web.Areas.Private.Models.Categories.CategoriesIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="transparent-background">
    <h2>Category: @Model.CategoryName</h2>
    @foreach (var place in Model.Places)
    {
        <div class="row padding-left">
            @Html.DisplayFor(m => place, "PlaceDetails")
        </div>
    }
</div>



