@model MvcTemplate.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Partial Home Page Statistics";
}

<div class="row">
    @foreach (var place in Model.Places)
    {
        <div class="col-md-3">
            <div class="row">
                @place.Name
            </div>
            <div class="row">
                @place.Description
            </div>
        </div>
    }
</div>
