@model MvcTemplate.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron transparent-background">
    <div class="row">
        <div class="pull-left col-md-6">
            <h2>Food'a'Full</h2>
            <p class="lead">Find your favourite food place online</p>
        </div>
        <div class="pull-right col-md-6"> 
        </div>
    </div>
</div>

<div class="row transparent-background">
    @Html.Partial("_TopPlacesPartial", Model)
</div>